<!DOCTYPE html> 

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
    body {
        background-color: #ADD8E6; 
    }
   /* Estilos do corpo da página */
        body {
            font-family: Arial, sans-serif;
            background-color: hwb(222 20% 45%); 
            margin: 0; 
            padding: 0; 
            display: flex; 
            justify-content: center; 
            align-items: center; 
            min-height: 100vh; 
        }
        
        /* Estilo para o container do formulário */
        .container {
            background-color: #ffffff; 
            padding: 20px; 
            border-radius: 10px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            width: 100%; 
            max-width: 400px; 
            
        }
        h2 {
            text-align: center; 
            color: #000000; 
        }

        /* Estilos do formulário */
        form {
            display: flex; 
            flex-direction: column; 
        }

        label {
            margin-bottom: 5px; 
            font-weight: bold; 
        }

        input[type="text"],
        input[type="password"] {
            margin-bottom: 15px; 
            padding: 10px; 
            border: 1px solid #cccccc; 
            border-radius: 4px; 
        }

        /* Estilos do botão */
        button {
            padding: 10px; 
            border: none; 
            background-color: rgb(72, 134, 202); 
            color: hwb(217 89% 5%); 
            border-radius: 4px; 
            cursor: pointer; 
        }
    
        /* Mudança de cor quando o mouse passa sobre o botão */
        button:hover {
            background-color: hwb(211 5% 64%); 
            color: #ffffff; 
        }
        

        /* Estilos para a mensagem de erro */
        .message {
            margin-bottom: 15px; 
            padding: 10px; 
            border-radius: 4px; 
            font-size: 14px; 
            color: #fff3f4; 
            background-color: rgb(230, 38, 54);
            border: 1px solid #f5c6cb;
            border-radius: 10px;
        }
        
    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <!-- Formulário de login -->
        <form method="post" action="">
            <label for="usuario">Usuário:</label>
            <input type="text" name="usuario" required> <!-- Campo para o nome de usuário -->

            <label for="senha">Senha:</label>
            <input type="password" name="senha" required> <!-- Campo para a senha -->

            <button type="submit">Entrar</button> <!-- Botão de login -->

            <!-- Exibe a mensagem de erro caso o login falhe -->
            <?php 
            if (isset($error)) { // Se a variável $error estiver definida, exibe a mensagem
                echo "<div class='message'>$error</div>"; // Exibe a mensagem de erro com a classe 'message'
            }
            ?>
        </form>
    </div>
</body>
</html>